{%extends 'base.html'%}

{%block results%}
<div class="playoffs">
    <h2>Season Outlook</h2>
    <p>If the stats remain at the current levels or less, the Seattle Eagles will: </p>
</div>
<div class="outlook">
    <h2>Not Make The Tournament</h2>
</div>

<style>
.playoffs h2, .playoffs p{
    color: rgba(58, 58, 58);
}
.outlook h2{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(146, 15, 15);
    border-radius: .3em;
    color: #ddd;
}
</style>
{%endblock%}

